<div>
  <h2>Currency Converter</h2>
  <div>
    <input type="number" [(ngModel)]="amount1" (ngModelChange)="convertCurrencies1()">
    <select [(ngModel)]="currency1" (ngModelChange)="convertCurrencies1()">
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
  </div>
  <div>
    <input type="number" [(ngModel)]="amount2" (ngModelChange)="convertCurrencies2()">
    <select [(ngModel)]="currency2" (ngModelChange)="convertCurrencies2()">
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
  </div>
  <button (click)="swapCurrencies()">Swap</button>
</div>
